* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #010A13;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    color: #fff;
    overflow-x: hidden;
}

.header-container {
    padding: 18px 32px;
    background: #061E36;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    width: 60px;
    cursor: pointer;
}

.hamburger-icon{
    display: none;
}


h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 0.8rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 28px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.page-title  {
    margin-top: 40px;
}

.page-title h1 {
    color:#C9AA71;
    text-transform: uppercase;
}

main {
    text-align: center;
}

.title-and-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.title-and-description h2 {
    font-weight: 700;
    color: #C9AA71;
}

.map-container {
    display: flex;
    gap: 16px;
    padding: 1.5rem;
    margin-top: 64px;
    background-color: #061E36;
}

.map-container h2 {
    margin-bottom: 16px;
}

.map-container p {
    font-size: 1rem;
    text-align: justify;
    line-height: 22px;
}

.map-container img {
    margin-top: 16px;
    width: 23.43rem;
}


@media(max-width: 1000px) {
    html {
        font-size: 75%;
    }

    .header-container ul {
        display: none;
    }

    .hamburger-icon {
        display: block;
        z-index: 9;
    }

    .hamburger-icon img {
        width: 40px;
        color: #C9AA71;
    }

    .map-container {
        display: block;
    }
}